* {
    box-sizing: border-box;
    padding:0;
    margin:0;
}

nav {
    position: sticky;
    top:0;
    background-color: #222222;
    width:100%;
    color: #DDDDDD;
    padding: 1em;
}
body > section {
    margin: 2em;
    padding: 1em;
    background-color: #AAAAAA;

}